<template name="postEdit">
	{{#with post}}
		<div class="row card-panel">
			<form id="editPost">
				<div class="row">
					<div class="col s6">
						<label for="course">Course</label>
						<input id="course" type="text" class="validate" value="{{course}}">
					</div>
					<div class="col s6">
						<label for="title">Title</label>
						<input disabled id="title" type="text" class="validate" value="{{title}}">
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<label for="body">Body</label>
						<textarea id="body" class="materialize-textarea validate">{{body}}</textarea>
					</div>
				</div>
				<div class="right">
					<button id="delete" class="btn waves-effect red">Delete<i class="material-icons right">delete</i></button>
					<button type="submit" id="done" class="btn waves-effect orange">Submit<i class="material-icons right">done</i></button>
				</div>
			</form>
		</div>
	{{/with}}
</template>